@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btn{
      @apply px-8 py-5 text-base font-altivo inline-block bg-primary text-light rounded-full uppercase hover:bg-dark;
  }

  .btn-light{
      @apply bg-light  text-dark hover:bg-primary hover:text-light;
  }

  .btn-dark{
    @apply bg-dark text-light hover:bg-primary hover:text-light;
  }


  h1,h2,h3,h4,h5,h6{
    @apply font-altivo text-secondary font-light uppercase;
  }

  p{
    @apply text-base font-bai text-secondary font-normal;
  }

  h1,h2,h3{
    @apply text-2xl;
  }

  h4{
    @apply text-base;
  }
}

/* Small Device Typography (md) */
@screen md{
h1,h2{
  @apply text-3xl-md; 
}
}

/* Laptop Device Typography */
@screen 2xl {
  h1,h2{
    @apply text-3xl-2xl;
  }

  h3 {
    @apply text-2xl-2xl;
  }
}

/* Desktop Device Typography */
@screen 3xl {
  h1,h2{
    @apply text-3xl-2xl;
  }

  h3 {
    @apply text-2xl-2xl;
  }
}

/* Container */

@media (min-width:981px) {
.container{
max-width:90%;
}
}

@media (min-width:1400px) {
.container{
max-width:1396px;
}
}

/* Home Header */

#home-header{
 /* background: linear-gradient(180deg, var(--secondary-color) 0.64%, var(--secondary-color) 0.64%), url('./img/home/home-header-mobile.jpg'); */
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
