@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography */

/*Mobile Device*/

h1,h2,h3,h4,h5,h6{
  font-weight: 300;

}

h1{
  font-size: 24px;
}

/*Small Device*/
/* @media ({'screen(sm)'}) {
h1{
  font-size: 24px;
}
} */

/*Medium Device*/

/* @media ({'screen(md)'}) {
h1{
  font-size: 24px;
}
} */

/*Large Device*/


/* @media ({'screen(xl)'}) {
h1{
  font-size: 24px;
}
} */


/*Laptop Device*/

/* @media ({'screen(2xl)'}) {
h1{
  font-size: 24px;
}
} */

/*Desktop Device*/

/* @media ({'screen(3xl)'}) {
h1{
  font-size: 24px;
}
} */









