@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btn{
      @apply px-[20px] py-[10px] text-base font-altivo border-2 border-primary inline-block bg-primary text-light rounded-full uppercase hover:bg-secondary hover:border-secondary ;
  }

  .btn-light{
      @apply bg-light  text-dark border-light hover:bg-primary hover:text-light hover:border-primary;
  }

  .btn-dark{
    @apply bg-secondary text-light border-primary hover:bg-primary hover:text-light;
  }


  h1,h2,h3,h4,h5,h6{
    @apply font-altivo text-secondary font-light uppercase;
  }

  p{
    @apply text-base font-bai text-secondary font-normal leading-5;
  }

  h1,h2,h3{
    @apply text-2xl;
  }

  h4{
    @apply text-base;
  }
}

/* Small Device Typography */

@screen sm{
  .btn{
      @apply py-[12px] text-lg;
  }
}

/* Ipad Device Typography */

@screen md{
h1,h2{
  @apply text-3xl-md; 
}

.btn{
      @apply py-[12px] text-lg;
  }
}

/* Large Device Typography */

@screen xl{
  p{
    @apply text-lg;
  }

  .btn{
      @apply py-[16px];
  }

  .btn{
      @apply py-[16px] text-lg;
  }
}

/* Laptop Device Typography */

@screen 2xl {
  h1,h2{
    @apply text-3xl-2xl;
  }

  h3 {
    @apply text-2xl-2xl;
  }
  .btn{
      @apply py-[16px] text-lg;
  }
}

/* Desktop Device Typography */

@screen 3xl {
  h1,h2{
    @apply text-3xl-2xl;
  }

  h3 {
    @apply text-2xl-2xl;
  }
  p{
    @apply leading-6;
  }

  .btn{
      @apply py-[16px] text-lg;
  }
}







/* Container */

@media (min-width:981px) {
.container{
max-width:90%;
}
}

@media (min-width:1400px) {
.container{
max-width:1396px;
}
}

/* Section Spaceing */

.section{
  padding: 80px 0;
}

@media (min-width:1025px) {
  .section{
  padding: 100px 0;
}
}

@media (min-width:1400px) {
  .section{
  padding: 120px 0;
}
}


/******* Navbar Style *******/

.top-bar p{
font-size: 6px;
text-align: center;
letter-spacing: 0.2px;
}

.navbar,
.navbar .nav-links{
z-index: 9999;
}

@media(min-width:481px){
  .top-bar p{
font-size: 6px;
text-align: end;
}
}







/***** Homepage Style  ****/

/* Home Header */

:root {
  --primary-color: rgb(83 81 77 / 64%); 
}

#home-header p{
  @apply text-light;
}

#home-header{
  background: linear-gradient(180deg, var(--primary-color) 0.5%, var(--primary-color) 0.5%),
              url('./img/home/home-header-mobile.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 padding: 55px 0 35px;
}

#home-header p{
  padding: 0 15px;
}

#home-header .logo{
  max-width: 130px;
  margin: 0 auto 32px;
}

#home-header .btn-wrapper{
  display: flex;
  position: relative;
  gap: 16px;
  flex-direction: column;
  margin-top: 30px;
}

#home-header .btn-wrapper .btn{
  width: 100%;
  text-align: center;
}

@media (min-width:481px) {
#home-header{
  padding: 40px 0 48px;
}


#home-header .logo{
  max-width: 225px;
  margin: 0 auto 24px;
}

#home-header .row{
  max-width: 343px;
  margin: 0 auto;
}
}

@media (min-width:768px) {
  #home-header{
  padding: 80px 0 16px;
}


#home-header .logo{
  max-width: 140px;
}

#home-header .row{
  max-width: 328px;
}

#home-header .btn-wrapper .col:last-child{
  position: absolute;
  bottom: -80px;
  left: 8%;
}

#home-header .btn-wrapper .btn-dark{
  font-size: 14px;
  padding: 8px 30px;
}
}

@media (min-width:1025px) {
#home-header .btn-wrapper .col:last-child{
  display: none;;
}

#home-header .logo{
  max-width: 244px;
  margin: 0 auto 44px;
}


#home-header p{
  padding: 0 50px;
}

#home-header{
  background: linear-gradient(180deg, var(--primary-color) 0.5%, var(--primary-color) 0.5%),
              url('./img/home/home-header.jpg');
 background-position: top center;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 150px 0 80px;
}

#home-header .row{
  max-width: 624px;
  margin: 0 auto;
}

#home-header .btn-wrapper{
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 56px;
}

#home-header .btn-wrapper .col{
 width: 46%;
}
}

/**/

